
%burger__line {
  background-color: $color-primary;
  width: 100%;
  height: 2px;
  position: absolute;
  }

.header-burger {
  display: none;   

    @include media-tablet {
  z-index: 5;
  display: block;
  transition: all 0.5s ease-in-out;
  position: relative;
    width: 30px;
    height: 20px;
}
}

.burger__line {
  @extend %burger__line;
  top: 9px;
}

.header-burger:before,
.header-burger:after {
  content: '';
  @extend %burger__line;  
  }

.header-burger:before {
  top: 0px;
}

.header-burger:after {
  bottom: 0px;
}

.header-burger._active {
  transform: rotate(-90deg);
}