.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.popup._open {
  opacity: 1;
  visibility: visible;
}
.popup-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 188px 190px;
}
.popup-content {
  position: relative;
  background: #fafafa;
  color: #000000;
  max-width: 900px;
  height: 500px;
  display: flex;
  column-gap: 30px;
  border-radius: 9px;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.popup._open .popup-content {
  transform: scale(1);
}
.popup-closer {
  position: absolute;
  text-decoration: none;

  width: 52px;
  height: 52px;
  top: -52px;
  right: -40px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: url(/assets/icons/closed.png) no-repeat center;
  transition: all 0.5s ease-in-out;
}
.popup-closer:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
.popup-img {
  height: 100%;
  border-radius: 9px;
}
.popup-description {
  padding-top: 50px;
  padding-right: 20px;
}
.popup-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.popup-subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 10px;
}
.popup-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-top: 40px;
  margin-bottom: 40px;
}
.popup-item::before {
  color:#F1CDB3;
  content: "•";
  padding-right: 10px;
}
.popup-item {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-top: 11px;
}
.popup-item span {
  font-family: 'Georgia';
  font-style: bolt;
  font-weight: 900;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}